{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('script/jquery-3.4.1.min.js') }}"></script>
    <script>
        function fetchData(orderBy, orderType){
            fetch(
                '{{ path('api.sales.get') }}',
                {'credentials': 'include'}
            ).then(function (response) {
                response.json().then(function (data) {
                    let resultHtml = '<table class=\"table table-striped table-bordered table-hover table-checkable\" id=\"salesTable\">'
                    // compute header
                    resultHtml += '<tr>'
                    data.column.forEach((item) => {
                        if (typeof item.subHeaders != 'undefined') {
                            resultHtml += '<td colspan="'+ item.subHeaders.length +'" class="text-center">'+ item.header + '</td>'
                        } else {
                            let index = item.field ? item.field : 'total'
                            resultHtml += '<td rowspan="2" class="text-center"><a href="#" onclick="fetchData(\''+ index +'\', \'desc\')"><img src="{{ asset('svg/arrow-top.svg') }}" alt="DESC"></a>'
                            resultHtml += item.header + '<a href="#" onclick="fetchData(\''+ index +'\', \'asc\')"><img src="{{ asset('svg/arrow-bottom.svg') }}" alt="ASC"></a></td>'
                        }
                    })
                    resultHtml += '</tr>'
                    resultHtml += '<tr>'

                    data.column.forEach((item) => {
                        if (typeof item.subHeaders != 'undefined') {
                            item.subHeaders.forEach((subheader) => {
                                resultHtml += '<td><a href="#" onclick="fetchData(\''+ subheader.field +'\', \'desc\')"><img src="{{ asset('svg/arrow-top.svg') }}" alt="DESC"></a>'
                                resultHtml += subheader.header + '<a href="#" onclick="fetchData(\''+ subheader.field +'\', \'asc\')"><img src="{{ asset('svg/arrow-bottom.svg') }}" alt="DESC"></a></td>'
                            })
                        }
                    })

                    resultHtml += '</tr>'
                    // products
                    resultHtml += '<tr>'
                    let products = data.data.map((product) => {
                        product.total = product.salesQ2 + product.salesQ2 + product.salesQ3 + product.salesQ4;
                        return product;
                    })

                    if (typeof orderBy != 'undefined') {
                        if (orderType == 'asc') {
                            products.sort((a, b) => (a[orderBy] > b[orderBy]) ? 1 : -1)
                        } else {
                            products.sort((a, b) => (a[orderBy] < b[orderBy]) ? 1 : -1)
                        }
                    }

                    products.forEach((product) => {
                        resultHtml += '<tr>'
                        resultHtml += '<td>' + product.productID + '</td>'
                        resultHtml += '<td>' + product.productName + '</td>'
                        resultHtml += '<td>' + product.salesQ1 + '</td>'
                        resultHtml += '<td>' + product.salesQ2 + '</td>'
                        resultHtml += '<td>' + product.salesQ3 + '</td>'
                        resultHtml += '<td>' + product.salesQ4 + '</td>'
                        resultHtml += '<td>' + product.total + '</td>'
                        resultHtml += '</tr>'
                    })
                    resultHtml += '</tbody></table>'

                    $("#results").html(resultHtml);
                })
            })
        }

        fetchData();
    </script>
{% endblock %}

{% block title %}Sales{% endblock title %}

{% block body %}
    <div id="results"></div>
{% endblock %}

